<div class="container">
  <div class="row">
    <div class="col col-12 ">
      <table class="table table-bordered">
        <thead>
          <tr class="table ESTILOAZUL" >
            <th scope="col">Código - vin</th>
            <th scope="col">Odômetro</th>
            <th scope="col">Nível de combustível</th>
            <th scope="col">status</th>
            <th scope="col">Lat.</th>
            <th scope="col">Long.</th>
          </tr>
        </thead>
        <tbody *ngIf="veiculos$ | async as veiculos">
          <tr >
            <td >
              <input type="search" class="form-control"  placeholder="{{veiculos[0].vin}}" [formControl]="vehicleDataInput" >
            </td>
            <td>{{veiculos[0].odometer}} KM</td>
            <td>{{veiculos[0].fuelLevel}} %</td>
            <td>{{veiculos[0].status}}</td>
            <td>{{veiculos[0].lat}}</td>
            <td>{{veiculos[0].long}}</td>
          </tr>
        </tbody>
        <tfoot class="table ESTILOAZUL" >
          <tr>
            <td colspan="6"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
