header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  font-weight: bold;
  opacity: 50%;
}

#cabeçalhoLogOut {
  height: 54px;
}
.active-link {
  border-left: 5px groove blue;
  border-radius: 2px;
  background-color: aliceblue;
}
button {
  transition: 300ms;
}
