<header class="sticky-top">
  <div class="text-white" *ngIf="user$ | async as user">
    <div *ngIf="user.name">
  <nav class="navbar" style="background-color: #1B357E ;">
    <a class="navbar-brand text-white">
        <i class="fa fa-bars mx-2" (click)="menu.abreMenu()" (keyup.space)="menu.abreMenu()">

        </i>Ford</a>
      <app-menu #menu>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['dashboard']">Dashboard</a>
          </li>
        </ul>
      </app-menu>
      <div class="mx-2">
        <i class="fa fa-user-circle text-white"></i>
        <a class="mx-1">{{ user.name }}</a>
        <a (click)="logout()">Logout</a>
      </div>
      </nav>
    </div>
</div>
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
