
div .page-loading {
    height: 25px;
    background-color: #CCC;
    position: relative;
}

.page-loading
  {
    position: absolute;
    height: 3px;
    background-color: #1df2dd;
    animation: progress-animation 4s infinite;
 }
 @keyframes progress-animation{
  0% {width: 0;}
  10% {width: 30%;}
  15% {width: 60%;}
  70% {width: 100%;}
 }
