<app-cabecalho></app-cabecalho>
<div *ngIf="loading" class="page-loading"></div>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<div class="loading-container">
  <div class="loading">
     <ngx-loading
     [show]="loading"
     [config]="{
       animationType: ngxLoadingAnimationTypes.chasingDots,
       primaryColour: primaryColour,
       secondaryColour: secondaryColour,
       backdropBorderRadius: '3px'
     }"
     [template]="loadingTemplate"
    ></ngx-loading>
  </div>
</div>
