/* 7EA1C4
2E4959
111C38
 */
body {
  background-color: #f8f9fa;
}
.BG-BLUE_1 {
  background-color: #0d05f2;
}
.BG-BLUE_2 {
  background-color: #111c38;
}
.BG-BLUE_3 {
  background-color: #020f59;
}
.BG-BLUE_4 {
  background-color: #2e4959;
}
.TEXT-BLUE_1 {
  color: #00005a;
}
.TEXT-BLUE_2 {
  color: #027fe9;
}
.BORDER-BLUE_1 {
  color: #00005a;
}
.BORDER-BLUE_2 {
  color: #0d05f2;
}
button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
