

<div class="container ">
  <div class="row">
    <div class="col-12">
      <div
      class=" bg-image d-flex justify-content-center align-items-center"
      style="
          background-image: url('assets/img/ranger.png');
          margin-top: 20vh;
          height: 70vh;
          margin-bottom: 10vh;
          background-size:cover ;
          "
      >
      <div class="card w-50 h-75 opacity-75">
        <div class="card-header">
          Sistema de Dados Ford
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-10">
            <p>Seja bem vindo(a)!</p>
          </blockquote>
        </div>
      </div>
      <!-- </div>
      <img class="img img-fluid" src="assets/img/ranger.png" alt="Image Ford Ranger">
    </div> -->
  </div>
</div>
