<div class="container ">
  <div
    class="img-fluid d-flex justify-content-center align-items-center "
    style="
    display: flex;
    background-image: url('assets/img/ranger.png') ;
    margin-top: 20vh;
    min-height: 25rem;
    max-width: 100%;
    margin-bottom: 10vh;
    background-size:cover ;" >
      <!-- Pesquisar sobre background responsivo -->
    <div class="row">
      <div class="col">
        <div class="card opacity-75">
          <div class="card-header">
            Sistema de Dados Ford
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-10">
              <p>Seja bem vindo(a)!</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- </div>
  <img class="img img-fluid" src="assets/img/ranger.png" alt="Image Ford Ranger">
</div> -->

<!-- <div class="container container-fluid mt-5">
<div class="position-relative justify-content-center align-items-center">

  <img class="img-fluid" src="assets/img/ranger.png" alt="Image Ford Ranger"/>

      <div class="position-absolute fixed-top col-6 offset-3">

        <div class="card opacity-75">
          <div class="card-header">
            Sistema de Dados Ford
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-10">
              <p>Seja bem vindo(a)!</p>
            </blockquote>
          </div>
        </div>

      </div>

  </div>
</div> -->
