.bgRanger{
  position:absolute;
  top: 5vh;
  background-image: url('src\assets\img\rangerTransparent.webp') ;
  background-size:100%;
  background-repeat: no-repeat;
  margin: auto;
  min-height: 80vh;
}
#cardBoasVindas {
  margin-top: 50px ;
  height: 40vw;
  max-height: 200px;
  min-height: 100px;
  width: 40vw;
  min-width: 248px;
  opacity: 80%;
}
